@using Nhom8_DoAnWebBanLaptop_SangT6.Models

@{
    int temp = 0;
    var cart = Session["CartSession"];
    if (cart != null)
    {
        var list = (List<GioHang>)cart;

        foreach (var item in list)
        {
            temp += item.SoLuong;
            ViewBag.temp = temp;
        }
        <span>@ViewBag.temp</span>
    }
    else
    {
        <span>0</span>
    }
}